#App Port
PORT=4000

#Postgres Settings
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB="mikro-orm-graphql-data"
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

#Node Settings
NODE_DEV=TRUE
NODE_ENV=dev

# WARNING - REQUIRED TO PASS TESTS ATM
#
# Refer to changes in v5 here 
# https://mikro-orm.io/docs/next/identity-map/
MIKRO_ORM_ALLOW_GLOBAL_CONTEXT=true

